* {
  font-family: sans-serif;
}

textarea {
  resize: none;
}

.textinput {
  width: 100%;
}

.centre {
  margin: auto;
  width: 70%;
}

.centretxt {
  text-align: center;
}

table {
  border-collapse: collapse;
}

th {
  border-bottom: solid 1px;
  font-weight: bold;
}

td {
  text-align: right;
}

img.centre {
  display: block;
}

img {
  max-width: 30%;
  height: auto;
}

label {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .centre {
    width: 90%;
  }
  img {
    max-width: 80%;
  }
}
