* {
  font-family: sans-serif;
}

textarea {
  resize: none;
}

.textinput {
  width: 100%;
}

.centre {
  margin: auto;
  width: 50%;
}

img.centre {
  display: block;
}

label {
  font-weight: bold;
}
